anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
cmake
colorama
comm
contourpy
crispy-bootstrap5
cycler
debugpy
decorator
defusedxml
distlib
Django
djangorestframework  # Add this if you're using DRF
django-captcha
django-crispy-forms
django-environ
django-recaptcha
dlib
env
et-xmlfile
executing
face-recognition
face_recognition_models
fastjsonschema
filelock
fonttools
fqdn
h11
httpcore
httpx
idna
imageio
imageio-ffmpeg
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
MouseInfo
moviepy
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
opencv-python
openpyxl
overrides
packaging
pandas
pandocfilters
parso
pillow
pillow_heif
pipenv
platformdirs
proglog
prometheus_client
prompt_toolkit
psutil
psycopg2
pure_eval
PyAutoGUI
pycparser
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-json-logger
pytweening
pytz
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
terminado
tinycss2
tk
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
gunicorn  # Add if you're deploying to a production environment
